@import "../../../index.scss";

.ride-request {
    margin: 0 auto;
    //h1 slot - globally styled.
    .incoming-requests {
        h2 {
            text-transform: capitalize;
            font-weight: 400;
            font-size: 2rem;
            padding: 10px 10px;
        }
    }
    .outgoing-requests {
        h2 {
            text-transform: capitalize;
            font-weight: 400;
            font-size: 2rem;
            padding: 10px 10px;
        }
    }
}
