@import "../../../index.scss";

.ride-request {
    max-width: 800px;
    margin: 0 auto;
    h1 {
        font-size: 3rem;
        padding: 10px 20px;
        margin: 10px 0px;
        //     @include respond-to("tablet") {
        //     //     margin: 10px 10px;
        //     // }
    }
    .incoming-requests,
    .outgoing-requests {
        max-width: 800px;
        h2 {
            // display: flex;
            // justify-content: flex-start;
            text-transform: capitalize;
            font-weight: 400;
            font-size: 2rem;
            padding: 10px 20px;
            @include respond-to("tablet") {
                font-size: 1.8rem;
            }
        }
    }
}
