// variables/mixins file path "importing your global styles."
@import "../../index.scss";

.landing-page {
    color: $carpalDarkGrey;
    text-align: center;

    h2 {
        font-size: 3.6rem;
        padding: 20px 0 10px;
    }

    p {
        font-size: 2rem;
    }

    .hero {
        display: inline-block;
        position: relative;
        width: 100%;
    }

    .slider {
        width: 100%;
    }

    .hero .slider {
        max-width: 100%;
    }

    .hero .overlaybutton {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #04ccbb;
        background-color: white;
        padding: 5px 20px;
        cursor: pointer;

        @include respond-to("mobile") {
            font-size: 2rem;
            bottom: 5px;
            right: 5px;
        }

        @include respond-to("tablet") {
            padding: 10px 30px;
            font-size: 3rem;
        }
    }

    .intro {
        margin: 15rem auto 6rem;
        padding: 36px 10%;

        @include respond-to("tablet") {
            padding: 36px 15%;
        }

        h1 {
            font-weight: 700;
            font-size: 5rem;
            padding: 30px 0 20px;

            @include respond-to("tablet") {
                font-size: 8rem;
            }
        }

        p {
            margin: 15px auto;
            text-align: left;
            max-width: 800px;
            @include respond-to("tablet") {
                font-size: 3.2rem;
                line-height: 1.6em;
            }
        }
    }

    .features {
        .features-box {
            background-color: $carpalGrey;
            padding: 20px 5% 50px;
            margin: 4rem auto 8rem;

            img {
                max-width: 200px;
                margin: 20px auto;
            }

            @include respond-to("tablet") {
                display: flex;
                align-items: center;
                text-align: left;
                padding: 10px 25px;
                margin: 4rem auto 8rem;
                max-width: 900px;
                min-height: 500px;
                border-radius: 20px;

                .flex-three-quarters {
                    flex: 2;
                    padding: 0 15px;
                }

                .flex-quarter {
                    flex: 1;
                    padding: 0 15px;
                }
            }
        }
    }

    .sign-up {
        margin: 3rem auto 20rem;
        padding: 0 5%;
        @include respond-to("mobile") {
            padding: 0 15%;
            max-width: 1000px;
        }

        h2 {
            text-align: left;
            padding: 20px 0 50px;
        }

        a {
            font-size: 3rem;
        }
    }
}
