h2 {
    text-transform: uppercase;
    font-weight: 900;    
    font-size: x-large;
    @media (max-width: 450px) {
        text-decoration: underline;
        font-size: medium;
    }
}
h4 {
    font-size: large;
}
.slider {
    width: 100%;
    // height: 500px;
}
.features {
    display: flex;
    width: 100%;      
    justify-content: center;
    align-items: center; 

    @media (max-width: 450px) {        
        flex-direction: column-reverse;
    }
}
.featuresflip {
    display: flex;   
    justify-content: space-between;
    flex-flow: row-reverse;
    width: 100%;    
    @media (max-width: 450px) {
        flex-direction: column-reverse;
    }
}
#first {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    // height: 65em;
    @media (max-width: 450px) {
        width: 405px;
        background-color:rgb(255, 255, 255);
        border-bottom-color:rgba(144, 144, 144, 0.25);
        border-bottom-left-radius:4px;
        border-bottom-right-radius:4px;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-image-outset:0px;
        border-image-repeat:stretch;
        border-image-slice:100%;
        border-image-source:none;
        border-image-width:1;
        border-left-color:rgba(144, 144, 144, 0.25);
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:rgba(144, 144, 144, 0.25);
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:rgba(144, 144, 144, 0.25);
        border-top-left-radius:4px;
        border-top-right-radius:4px;
        border-top-style:solid;
        border-top-width:1px;
        box-sizing:border-box;
        color:rgb(68, 68, 68);
        display:block;        
        font-size:16px;
        font-stretch:100%;
        font-style:normal;
        font-variant-caps:normal;
        font-variant-east-asian:normal;
        font-variant-ligatures:normal;
        font-variant-numeric:normal;
        font-weight:400;
        height:379.594px;
        line-height:26.4px;
        margin-bottom:32px;
        margin-left:0px;
        margin-right:0px;
        margin-top:0px;
        padding-bottom:48px;
        padding-left:40px;
        padding-right:40px;
        padding-top:48px;
        text-align:center;
        text-size-adjust:100%;
        vertical-align:baseline;        
    }
}
#second {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 450px) {
        width: 405px;
        background-color:rgb(255, 255, 255);
        border-bottom-color:rgba(144, 144, 144, 0.25);
        border-bottom-left-radius:4px;
        border-bottom-right-radius:4px;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-image-outset:0px;
        border-image-repeat:stretch;
        border-image-slice:100%;
        border-image-source:none;
        border-image-width:1;
        border-left-color:rgba(144, 144, 144, 0.25);
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:rgba(144, 144, 144, 0.25);
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:rgba(144, 144, 144, 0.25);
        border-top-left-radius:4px;
        border-top-right-radius:4px;
        border-top-style:solid;
        border-top-width:1px;
        box-sizing:border-box;
        color:rgb(68, 68, 68);
        display:block;        
        font-size:16px;
        font-stretch:100%;
        font-style:normal;
        font-variant-caps:normal;
        font-variant-east-asian:normal;
        font-variant-ligatures:normal;
        font-variant-numeric:normal;
        font-weight:400;
        height:379.594px;
        line-height:26.4px;
        margin-bottom:32px;
        margin-left:0px;
        margin-right:0px;
        margin-top:0px;
        padding-bottom:48px;
        padding-left:40px;
        padding-right:40px;
        padding-top:48px;
        text-align:center;
        text-size-adjust:100%;
        vertical-align:baseline;        
    }
}
#third {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 450px) {
        width: 405px;
        background-color:rgb(255, 255, 255);
        border-bottom-color:rgba(144, 144, 144, 0.25);
        border-bottom-left-radius:4px;
        border-bottom-right-radius:4px;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-image-outset:0px;
        border-image-repeat:stretch;
        border-image-slice:100%;
        border-image-source:none;
        border-image-width:1;
        border-left-color:rgba(144, 144, 144, 0.25);
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:rgba(144, 144, 144, 0.25);
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:rgba(144, 144, 144, 0.25);
        border-top-left-radius:4px;
        border-top-right-radius:4px;
        border-top-style:solid;
        border-top-width:1px;
        box-sizing:border-box;
        color:rgb(68, 68, 68);
        display:block;        
        font-size:16px;
        font-stretch:100%;
        font-style:normal;
        font-variant-caps:normal;
        font-variant-east-asian:normal;
        font-variant-ligatures:normal;
        font-variant-numeric:normal;
        font-weight:400;
        height:379.594px;
        line-height:26.4px;
        margin-bottom:32px;
        margin-left:0px;
        margin-right:0px;
        margin-top:0px;
        padding-bottom:48px;
        padding-left:40px;
        padding-right:40px;
        padding-top:48px;
        text-align:center;
        text-size-adjust:100%;
        vertical-align:baseline;       
    }
}
.allimg {
   width: auto;
   height: auto;
   @media (max-width: 450px) {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
   
}
.paraone {
    width: 100%;
    @media (max-width: 450px) {
        padding: 5px;
        text-align: center;
    }
}
.firstpara {    
    margin: 15px;
    @media (max-width: 450px) {
       margin: 0px;
       width: 100%;
    }
   
}
.containertwo {
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
padding-bottom: 100px;
}
.container {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;    
    width: 50%;    
    // align-items: center;
    padding-top: 0em;
    @media (max-width: 450px) {
        width: 100%;
        padding: 5px;
    }
}
.main {    
    font-size: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    @media (max-width: 450px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
button {
    background-color: #04CCBB;
    border: none;
    border-radius: 12px;
    width: 15rem;
    font-size: larger;
    text-transform: uppercase;
    height: 4.5rem;
    color: white;
}
.hero {
    display: inline-block;
    position: relative;
    width: 100%;
}
.hero .slider {
    width: 100%;      
}
.hero .overlaybutton {
    position: absolute;
    background-color: #04ccbb;
    bottom: 4em;
    right: 4em;
    font-size: xx-large;
    color: white;
    text-transform: uppercase;
    padding: 1em 1.5em;
    border-radius: 12px;
    width: 25rem;    
    height: 2.5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media (max-width: 450px) {
        width: 15rem;
        font-size: medium;
        bottom: 1em;
        right: 9em;
    }
    
}
.padding {
    padding-bottom: 15px;
}