.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /////// desktop maintenance png
    .desktop-crew {
        display: none;
    }
    @media (min-width: 600px) {
        .desktop-crew {
            display: flex;
            width: 100%;
            height: auto;
            padding: 30px;
        }
    }
    ////mobile maintenance png
    .mobile-crew {
        width: auto;
        height: auto;
        padding: 10px;
    }
    @media (min-width: 600px) {
        .mobile-crew {
            display: none;
        }
    }
}
