@import "../../../index.scss";

.rideCardDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin: 5px auto;
    &.selected {
        background-color: $carpalLightGreen;
    }

    button {
        color: $carpalGreen;
        border: 1px solid $carpalGreen;
        background-color: $carpalWhite;
        padding: 5px;
        text-transform: none;
    }
    h2 {
        font-size: 2rem;
        text-transform: none;
        padding: 0px;
    }

    .request-card-details {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin: 0;

        .flexContainer {
            flex: 1;
            padding: 5px;

            h2 {
                font-size: 1.2rem;
                @include respond-to("tablet") {
                    font-size: 1.6rem;
                }
            }
            .bubble {
                background: $carpalGrey;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                font-size: 1.2rem;
                text-transform: lowercase;
                padding: 5px;
                margin: 10px auto 0;
            }
        }
    }
}
