
.rideCardDiv {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-height: 125px;
    min-height: 65px;

    button {
        color: #04ccbb;
        border: 1px solid #04ccbb;
        background-color: transparent;
        height: 80%;
        width: 15%;
        padding: 5px;
        text-transform: none;
    }
    h2 {
        font-size: 2rem;
        text-transform: none;
        padding: 0px;
    }
    
    ul {
        width: 100%;
        font-size: 1.5rem;
        margin-top: 10px;
        display: flex;
        flex-flow: column wrap;
        align-items:flex-start;
        justify-content: space-between;
    }
}