.rideCardDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 11px 0;
    margin: 10px auto 0;

    button {
        color: #04ccbb;
        border: 1px solid #04ccbb;
        background-color: transparent;
        padding: 5px;
        text-transform: none;
    }
    h2 {
        font-size: 2rem;
        text-transform: none;
        padding: 0px;
    }

    ul {
        width: 100%;
        font-size: 1.5rem;
        margin: 8px 5%;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
}
