// variables/mixins file path "importing your global styles."
@import "../../index.scss";
////////////////////body of component
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0px auto 70px;
    //desktop media breakpoint
    @include respond-to("desktop") {
        flex-direction: row;
    }
    //////////////////form container
    .formik-container {
        margin: 20px;
    }
    ////////////////// Login form title
    .login-p {
        color: $carpalDarkGrey;
        font-size: 3rem;
        margin-bottom: 20px;
    }
    //////// forgot password link. links to signup for now.
    .forgot-password {
        text-decoration: none;
        font-size: 1.6rem;
        color: $carpalDarkGrey;
        border: none;
        margin: 10px;
        &:hover {
            color: $carpalGreen;
            opacity: 0.4;
            border: none;
        }
        &:active {
            opacity: 1;
            border: none;
        }
    }
    //////////////////// Signup create account box/link/container
    .module-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 100%;

        @include respond-to("desktop") {
            justify-content: center;
            align-items: center;
            background-position: cover;
            height: 300px;
        }
        .module-cuties {
            max-width: 300px;
        }
        ////// New to the website? signup/login p tag
        .module-p {
            color: $carpalDarkGrey;
            font-size: 2rem;
            margin-bottom: 5px;
        }
    }
}
