// variables/mixins file path "importing your global styles."
@import "../Styles/_variables.scss";
/////////////OVERIDES DEFAULT BROWSER INPUT STYLING
@include formWebKit;
////////////////////body of component
.login-container {
    @include pageBody;
    background-color: $carpalGreen;
    max-width: 800px;
    @include respond-to("desktop") {
        background-color: blue;
    }
    //media breakpoint for desktop
    //////////////////form container
    .formik-container {
        @include formContainer;
        background-color: $carpalGreen;
        ////////////////// Login form title
        .login-p {
            @include formTitle;
        }
        // @include respond-to("desktop") {
        //     color: $carpalRose;
        // }
        ////////////////// Field Labels
        .field-label {
            @include formLabel;
        }
        /////////////// Form Error Msg
        .form-error {
            @include formError;
        }
        /////////////// fields input styling
        .formik-fields {
            @include formikFields;
            border-radius: 0px;
        }
        ///// submit button google login styling
        .form-btn,
        a {
            @include formButton;
        }
        //////// forgot password link. links to signup for now.
        .forgot-password {
            color: $carpalWhite;
            background-color: $carpalGreen;

            &:hover {
                color: $carpalRose;
                background-color: $carpalGreen;
            }
        }
        .module-p {
            @include formTitle;
            margin-bottom: 5px;
        }
        // signup button / link
        .signup-link {
            @include Link;
        }
    }
    //////////////////// Signup create account box/link/container
    .module-nav {
        @include modelNav;
        background-image: url("../../img/Cutie-Trio.png");
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: 50% 80%;
        // new to the website? lets go!
        .module-p {
            @include formTitle;
            margin-bottom: 5px;
        }
        // signup button / link
        .signup-link {
            @include Link;
        }
    }
}
