// variables/mixins file path "importing your global styles."
@import "../Styles/_variables.scss";
/////////////OVERIDES DEFAULT BROWSER STYLING
@include formWebKit;

// //body of component
.signup-container {
    @include pageBody;
    background-color: $carpalGreen;
    //media breakpoint for desktop
    //////////////////form container
    .formik-container {
        @include formContainer;
        background-color: $carpalGreen;
        .signup-p {
            @include formTitle;
        }
        ////////////////// Field Labels
        .field-label {
            @include formLabel;
        }
        // error styling
        .form-error {
            @include formError;
        }
        /////////////// fields input styling
        .formik-fields {
            @include formikFields;
        }
        ///// submit button styling
        .form-btn {
            @include formButton;
        }
    }
    //login container for ppl already a user.
    .module-nav {
        @include modelNav;
        background-image: url("../../img/Cutie-Triov2.0.png");
        background-repeat: no-repeat;
        background-size: cover;
        //// already a user? lets go!
        .module-p {
            @include formTitle;
        }
        // signup button / link
        .login-link {
            @include Link;
        }
    }
}
