body, header head {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
nav {
    display: flex;
    /* width: 100%;     */
    justify-content: space-evenly;
    background-color: #C4C4C4;
}
.logo {
    width: 5.5rem;
    border-radius: 12PX;
    margin: 10px;
}
ul {
    list-style-type: none; 
    display: flex;
    width: 100%;
    align-items: center; 
    justify-content: flex-end;
    
}
li {
    margin: 20px;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
    list-style-type: none;
}
li a :hover {
    background-color: cornflowerblue;
}

.slider {
    width: 100%;
    height: 500px;
}
.features {
    display: flex;
    width: 100%;      
    justify-content: center;
    /* align-items: center; */
}
.featuresflip {
    display: flex;   
    justify-content: space-between;
    flex-flow: row-reverse;

    width: 100%;    
}
.container {   
    width: 100%;
}
#first {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
}
#second {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
}
#third {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
}
.imgone {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.paraone {
    width: 100%;
}
.firstpara {
    width: 23rem;
    margin: 15px;
   
}
.containertwo {
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
}
.container {
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    width: 100%;
    align-items: center;
}
h2 {
    margin: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #04CCBB;
    border: none;
    border-radius: 12px;
    width: 12rem;
    height: 2.5rem;
}