////////////////////// GLOBAL FILE FOR STYLING
//////////////////////Font Fam-Bam
$font-stack: Lato, sans-serif;
//////////////////////CarPal Colors
$carpalGreen: #04ccbb;
$carpalWhite: #ffffff; //same color as grey?
$carpalYellow: #f3e962;
$carpalRose: #fbb4b4;
$carpalBlack: #1e1318;
$carpalGrey: #f3f4f4;
$carpalDarkGrey: #4e4e4e;
$carpalLightGreen: #adebe4;
//////////////////////Media Breakpoints START
$breakpoints: (
    "mobile": 450px,
    "tablet": 800px,
    "desktop": 1000px,
    "large": 1200px
) !default;

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "no value could be retrieved from `#{$breakpoint}`. "+"Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

//////////////////////// media display classes //
.show-tablet {
    display: none;
    @include respond-to("tablet") {
        display: block;
    }
}

.hide-tablet {
    display: block;
    @include respond-to("tablet") {
        display: none;
    }
}

//////////////////////// div applied styles and spacers
.center {
    margin: 0 auto;
}

.space-10 {
    padding: 10px 0;
}

.space-20 {
    padding: 20px 0;
}
