@import "../../../index.scss";

.search-ride-container {
    .map-search {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .ridesContainer {
        background-color: $carpalWhite;
        width: 100%;
    }

    .searchedRides:nth-child(2n) {
        width: 100%;
        background-color: $carpalGrey;
    }

    .searchedRides {
        width: 100%;
        background-color: $carpalWhite;
    }
    .search-display {
        z-index: 100;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        padding: 10px;
        margin: 100px auto 0;
        background-color: $carpalGrey;

        @include respond-to("mobile") {
            max-width: 400px;
            left: 20px;
            top: 0;
        }

        h1 {
            font-size: 2.4rem;
            text-align: left;
            padding: 0 0 10px 4px;
        }
        .search-ride-input {
            input {
                margin: 10px auto;
            }
            ul {
                z-index: 10;
                // border-radius: 12px;
                background-color: $carpalWhite;
                position: absolute;
                left: 0;
                width: 100%;

                li {
                    padding: 10px 30px;
                    text-align: left;
                    font-size: 1.6rem;
                    margin: 5px 0px;
                    cursor: pointer;
                }
                li:hover {
                    background-color: rgba(#04ccbb, 0.8);
                }
            }
        }

        p {
            padding: 10px 0 0;
        }

        button {
            margin: 0;
        }
    }
}
