<<<<<<< HEAD
// variables/mixins file path "importing your global styles."
@import "../Styles/_variables.scss";
/////////// User Profile Container
// .container {
////////user img and user details
=======
@import "../Styles/_variables.scss";

>>>>>>> 8218d881aeab8a0590753a0a233d0a89200d4534
.profileHeader {
    width          : 100%;
    display        : flex;
    justify-content: space-evenly;
<<<<<<< HEAD
    align-items: center;
    padding: 15px 0;
    max-width: 600px;
    margin: 0 auto;
    .headerImage {
        display: inline-block;
        position: relative;
        padding: 10px;
        .profilePic {
            width: 10rem;
            height: 10rem;
            border-radius: 55%;
        }
        .overlaybutton {
            position: absolute;
            background-color: $carpalWhite;
            font-size: 10px;
            bottom: 6em;
            right: 3em;
            color: $carpalGreen;
            padding: 1em 1.25em;
            border-radius: 12px;
            width: 5rem;
            height: 0rem;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    }
    .headerDetails {
        font-size: x-large;
        padding: 10px;
        h3 {
            margin: 10px 0;
            font-size: 1.8rem;

            @include respond-to("mobile") {
                font-size: 2.2rem;
            }
        }
        .bold {
            font-weight: 600;
        }
    }
}
///////////dividing bar
.bar {
    width: 100%;
    background-color: $carpalGreen;
    height: 2rem;
}
////////////// user profile selected likes etc
.profileDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    .profileSection {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0.5rem 0;
        background-color: green;

        .flexContainer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            background-color: yellow;

            h2 {
                background-color: red;
                text-transform: initial;
                font-weight: initial;
                font-size: 1.25rem;
                padding: 10px;
                margin: 2em 2em;
            }

            .bubble {
                text-align: center;
                padding: 5px;
                background: $carpalGreen;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                margin: 0 10px;
            }
        }
        ///////////Profile Page Button and Button Container
        .buttonContainer {
            text-align: center;
            text-transform: none;
            .edit {
                background-color: $carpalGreen;
                border: none;
                border-radius: 12px;

                font-size: larger;
                height: 4rem;
                color: white;
                padding: 10px 30px;
                margin-top: 12px;
            }
        }
    }
}

// }

////////////////////////Edit/Update Profile Container and Form////////////////////////
.formik-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $carpalGreen;
    max-width: 500px;
    border-radius: 20px;
    padding: 40px;
    margin: 50px auto;
    /////Input fields
    .formik-fields,
    option {
        font-family: inherit;
        font-size: 1.6rem;
        width: 100%;
        padding: 10px 20px;
        margin: 10px 0px;
        background-color: $carpalGreen;
        border: none;
        border-bottom: 2px solid $carpalWhite;
        color: $carpalWhite;
        outline: none;
    }
    .form-btn {
        font-family: inherit;
        font-size: 1.6rem;
        color: $carpalWhite;
        background-color: $carpalGreen;
        border: 1px solid $carpalWhite;
        border-radius: 20px;
        padding: 10px 30px;
        margin: 10px;
        cursor: pointer;
        text-decoration: none;
    }
}
=======
    align-items    : center;
    padding        : 15px 0;
    max-width      : 600px;
    margin         : 0 auto;
}

.headerDetails {
    font-size: x-large;
    padding  : 10px;

    h3 {
        margin   : 10px 0;
        font-size: 1.8rem;

        @include respond-to("mobile") {
            font-size: 2.2rem;

        }
    }

    .bold {
        font-weight: 600;
    }
}

.profileDetails {
    padding: 0 5%;
}

.profileSection {
    display       : flex;
    flex-direction: column;
    flex-wrap     : wrap;
    padding       : 0.5rem 0;
}

.bar {
    width           : 100%;
    background-color: #04ccbb;
    height          : 2rem;
    margin-bottom   : 15px;
}

h2 {
    font-size    : 1.25rem;
    font-weight  : 400;
    margin-top   : 2em;
    margin-bottom: 10px;
}

.bubble {
    text-align           : center;
    padding              : 5px;
    background           : #04ccbb;
    -webkit-border-radius: 20px;
    -moz-border-radius   : 20px;
    border-radius        : 20px;
    margin               : 0 10px;
}

.flexContainer {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
    flex-direction : row;
}

.edit {
    background-color: #04ccbb;
    border          : none;
    border-radius   : 12px;
    width           : 75%;
    font-size       : larger;
    text-transform  : uppercase;
    height          : 4rem;
    color           : white;
    margin-top      : 12px;
}

.headerImage {
    display : inline-block;
    position: relative;
    padding : 10px;
}

.headerImage .profilePic {
    width        : 10rem;
    height       : 10rem;
    border-radius: 55%;
}

.headerImage .overlaybutton {
    position        : absolute;
    background-color: whitesmoke;
    font-size       : 10px;
    bottom          : 6em;
    right           : 3em;
    color           : #04ccbb;
    text-transform  : uppercase;
    padding         : 1em 1.25em;
    border-radius   : 12px;
    width           : 5rem;
    height          : 0rem;
    margin          : auto;
    display         : flex;
    justify-content : center;
    align-items     : center;
    text-decoration : none;
}

.buttonContainer {
    text-align: center;
}

.formik-fields-multi {
    width           : 100%;
    padding         : 2px 20px;
    margin          : 10px 0px;
    box-sizing      : border-box;
    min-height      : 100px;
    border          : none;
    background-color: #04ccbb;
    border-bottom   : 2px solid #f3f4f4;
    outline         : none;
    height          : 250px;
    border-radius   : 20px;
}

// .container {
//     display    : flex;
//     padding-top: 300px;
// }
.formik-fields {
    width           : 100%;
    padding         : 10px 20px;
    margin          : 10px 0px;
    box-sizing      : border-box;
    border          : none;
    background-color: #04ccbb;
    border-bottom   : 2px solid #f3f4f4;
    outline         : none;
    border-radius   : 20px;
}

.formik-container {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    min-width       : 200px;
    // width        : 100%;
    margin          : 20px;
    height          : 67em;
    background-color: white;
    border-radius   : 10px;
    padding         : 10px;
}

.one {
    padding      : 5px;
    border-radius: 25px;
}
>>>>>>> 8218d881aeab8a0590753a0a233d0a89200d4534
