.profileHeader {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerDetails {
    width: 50%;
    font-size: x-large;
    margin: 10px 0 10px 1em;

    h3 {
        margin: 10px 0;
    }
    .bold {
        font-weight: 600;
    }
}

.profileSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem 0;
}
.bar {
    width: 100%;
    background-color: #04ccbb;
    height: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: 10px;
}

.bubble {
    text-align: center;
    padding: 5px;
    background: #04ccbb;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 0 10px;
}
.flexContainer {
    display: flex;
    justify-content: space-evenl;
    align-items: center;
    flex-direction: row;
}

.edit {
    background-color: #04ccbb;
    border: none;
    border-radius: 12px;
    width: 75%;
    font-size: larger;
    text-transform: uppercase;
    height: 4rem;
    color: white;
    margin-top: 12px;
}
.headerImage {
    display: inline-block;
    position: relative;
}
.headerImage .profilePic {
    width: 10rem;
    height: 10rem;
    border-radius: 55%;
}
.headerImage .overlaybutton {
    position: absolute;
    background-color: whitesmoke;
    font-size: 10px;
    bottom: 6em;
    right: 3em;
    color: #04ccbb;
    text-transform: uppercase;
    padding: 1em 1.25em;
    border-radius: 12px;
    width: 5rem;
    height: 0rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.buttonContainer {
    text-align: center;
}
