@import "../../../index.scss";

.myride-container {
    max-width: 800px;
    padding: 10px 10px;
    margin: 0 auto;
    //edit, delete, start bubble buttons
    .btn {
        background-color: $carpalWhite;
        border: 2px solid $carpalGreen;
        color: $carpalGreen;
        padding: 5px 10px;
        &:hover {
            background-color: $carpalLightGreen;
            color: $carpalBlack;
        }
        &:active {
            background-color: $carpalWhite;
            border: $carpalWhite;
            color: $carpalGreen;
        }
    }
}
